table {
    border-collapse: collapse;
    width: 100%;
}

table, th {
    border: 1px solid black;
}

th {
    height: 100%;
    text-align: left;
    font-size: 70%;
}

body, html, table {
   height: 100%;
}