@font-face {
    font-family: "Minecraft";
    src: url("font/minecraftregular-bmg3-webfont.woff");
    }

#ft_list {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    width: 70%;
    height: 100vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end
}

.add {
    border: none;
    padding: 1.5% 2%;
    background-color: rgb(111, 222, 111);
    
    position: absolute;
    left: 79.6%;
    top: 7%;
}

#title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
}

.todo {
    width: 70vw;
    height: 5vh;
    margin-top: 3px;
    background-color: rgb(230, 230, 230);
}

.todo h2 {
    text-align: center;
    font-family: Minecraft;
    font-size: 20px;
    margin-top: 4.5%;
}

.todo:hover {
    background-color: rgb(218, 218, 218);
}

.todo:active {
    background-color: rgb(138, 138, 138);
}

.add:hover {
    background-color: rgb(77, 151, 77);
}

.add:active {
    background-color: rgb(48, 94, 48);
}